<h1>{{ nombre }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ nombre }}</dd>

  <td>Edad:</td>
  <dd>{{edad}}</dd>

  <td>Método:</td>
  <dd>{{ getHeroDescripcion() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>

</dl>


<button
  *ngIf=" nombre!=='Diego' "
  class="btn btn-primary mx-2"
  (click)="changeHero()" >
  Cambiar nombre</button>

  <button *ngIf=" edad!== 27" class="btn btn-primary" (click)="changeAge()">
    Cambiar edad</button>

  <button  class="btn btn-primary mx-2" (click)="resetForm()">
    Reset</button>
